@import "~taro-ui/dist/style/components/flex.scss";
.scroll-container {
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
}
.date {
  // text-align: center;
  height: 3vh;
  margin-top: 2vh;
  padding-left: 4vw;
  color: #999;
}