@import "~taro-ui/dist/style/components/flex.scss";

.index {
  flex-direction: column;
  width: 100%;
}

.first-row {
  flex-direction: row;
  justify-content: space-between;
  .type {
    background-color: #49f;
    // margin-left: 12px;
    border-radius: 10px;
    color: #fff;
  }
  .houseName {
    margin-left: 24px;
  }
  .rightClick {
    background: red;
    float: right;
  }
  
}
